<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <appSettings>
      <add key="consumerkey" value="BBHs2BKiDyFyeRx9yZf7Syyx0" />
      <add key="consumersecret" value="ErQC2Iut89J4r97jedxkLJ94fMVwugVLQVbJY2DuQNz4IgWP3w" />
      <add key="authtoken" value="2902082159-amZ5EO1rkQFuyhlEe73RdlXxt4x97Cz0zUWGkBG" />
      <add key="authtokensecret" value="OnsdM9sxj7zFpmcHfT5guuRkpwnPK7qnNI3VPcN948BdM" />
    </appSettings>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.28.0" newVersion="4.2.28.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>